<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.matrix.aop.UserServiceImpl" />  
    <bean id="annotation-point-cut" class="com.matrix.aop.AnnotationPointCut" />  

	<!-- 开启aop注解支持  -->
	<aop:aspectj-autoproxy expose-proxy="false" proxy-target-class="false" />
	

</beans>




<!--     

	
	<bean id="beforeLog" class="com.matrix.aop.BeforeLog" />
    <bean id="afterLog" class="com.matrix.aop.AfterLog" /> 
    
    <aop:config>
        <aop:pointcut id="point-cut" expression="execution(* com.matrix.aop..*.*(..))" />
        <aop:advisor advice-ref="beforeLog" pointcut-ref="point-cut" />
        <aop:advisor advice-ref="afterLog" pointcut-ref="point-cut" />
    </aop:config>
    
    
    <bean id="my-point-cut" class="com.matrix.aop.MyPointCut" />  
   	<aop:config>
		<aop:aspect ref="my-point-cut">	
			<aop:pointcut id="point-cut" expression="execution(* com.matrix.aop..*.*(..))" />	
			<aop:before method="beforeRunning" pointcut-ref="point-cut"/> 
			<aop:after method="afterRunning" pointcut-ref="point-cut"/>
			<aop:after-returning method="afterReturning" pointcut-ref="point-cut" returning="args"/>
		</aop:aspect>
	</aop:config>
-->


